@import './variables.scss';

p, h3{
    margin: 0;
}

.topBarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    
}

.postBar{
    background-color: white;

    border-radius: 0.5rem;
    width: 100%;
    height: min-content;
    border-style: solid;
    border-color: orange;
}

.postText{
    margin-left: 1rem;
    font-family: $poppins;
}

.sortButtonsContainer{
    color: $lightblue;
    display: flex;

    button{
        background-color: orange;
        line-height: 0.25em;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-left: 0.25rem;
        font-family: $poppins;
        
    }
}

.cardsContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    grid-area: 'main';
    background-color: #192734;
    border-radius: 1rem;
}

.link{
    text-decoration: none;
}

.articleCard{
    padding: 1rem;
    padding-top: 0;
    margin-top: 0;
    border-bottom: 1px solid $lightblue;

}

.link{
    h3{
        color: white;
        margin-bottom: 0.5rem;
    }

}

.headerLine{
    padding-top: 0;
    margin-top: 4px;
    font-size: 0.8rem;
    color: grey;
    margin-bottom: 1rem;
    span{
        color: $lightblue;
        &:hover {
            color: green;
        }
    }
}

.topicTag{
    background-color: $lightblue;
    color: white;
    width: min-content;
    border-radius: 0.3rem;
    padding: 0.1rem;

}