@import './variables.scss';

html, body{
    background-color: #15202B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif
}

p{
    color: white;
}

h1, h2, h3, a{
    color: $darkblue;
}

.App{
    width: 100%;
}

.innerGrid{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 65% auto;
    grid-template-areas: 'main side';
}
