.singleArticleContainer {
    background-color: white;
    border-radius: 0.3rem;
    width: 100%;

    h3{
        color: blue;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    p{
        padding-top: 0.5rem;
    }
}