@import './variables.scss';

.container {
    background-color: #192734;;
    border-radius: 1rem;
    width: 85%;
    margin: auto;

}

.article{
    margin: 2rem;

    h3{
        color: $lightblue;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
        font-size: 2rem;
    }

}

.articleText{
    margin-right: 3rem;
    margin-left: 2rem;
}