@import './variables.scss';


.container{
    text-align: center;
    background-color: #192734;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.topicsContainer{

    
}

.topicsList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    
}

.topicLink{
    list-style-type: none;
    text-decoration: none;
    width: min-content;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    color: white;
    border-radius: 0.3rem;
    background-color: $lightblue;
    padding: 0.1rem;
    margin: 0.1rem;
    margin-bottom: 1rem;
    
}